.container{
    text-align: center;
    
  }
body{
  background-image: url("https://mcdn.wallpapersafari.com/medium/1/77/suAMgq.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  vertical-align: middle;
  color: white;
  
}
.cards{
  background-color: black;
  height: 450px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 100px ;
}

.link {
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.link:hover {
  cursor: pointer;

.minMax{
  align-content: space-between;
  display: inline-block;
}