.forecastcontainer{
    /* border: solid; */
    /* border-color: red; */
    color: black;
    font-size: 14px;
    align-content: space-between;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-top: 0px;
}
.date{
    font-size: 16px;
}

.py-3{
    margin-top: 0px;
}
.py-4{
    height: 100px;
}
