.Footer {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Footer h1 {
    margin: 0 15px;
    font-size: 15px;
}